build
out
projectFilesBackup*
target
tmp
.DS_Store
.classpath
.gradle
.idea/
.project
.settings/
*.ids
*.iml
*.ipr
*.iws
*.log
*.swp
agents/*
application-*.yml
!tools/env/application-*.yml
ReferenceData/
upload/*
.java-version


.vscode
.ideaDataSources
dataSources
dataSources/84adf1bc-0e56-48cc-b826-0432d002ab63

InitSimulators/dashboard/*
InitSimulators/*jtl
